.container {
  background-color: #fff;
  margin: 0 10rem;
  height: 100vh;
}

.heroImg {
  height: 51rem;
  margin: 0 8.375rem;
  background-color: #eee;
  background-image: url("https://ableton-production.imgix.net/about/header.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  place-items: center;
  place-content: center;
}

.blueLink {
  color: #0000ff;
}

.sectionText {
  padding: 7rem 25rem;
  background-color: #fff;
  line-height: 1.6;
  display: grid;
  gap: 1.25rem;
}

.sectionText h2 {
  font-size: 1.75rem;
  font-weight: 500;
}

.firstCollage {
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #fff;
  z-index: -1;
}

.imgLeft {
  width: 42rem;
  height: 42rem;
  background-image: url("https://ableton-production.imgix.net/about/photo-1.jpg");
  background-size: cover;
  background-position: center;
  z-index: 999;
}

.imgRight {
  width: 33rem;
  height: 25rem;
  background-image: url("https://ableton-production.imgix.net/about/photo-2.jpg");
  background-size: cover;
  background-position: center;
  z-index: 999;
}

.yellowBg {
  position: absolute;
  z-index: 0;
  right: 10rem;
  width: 50%;
  height: 100%;
  background: #fbffa7;
}

.thumbnail {
  width: 50rem;
  height: 28rem;
  background-image: url("https://ableton-production.imgix.net/about/poster-juanpe.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  place-content: center;
  margin: -6rem auto;
}

.thumbnailCaption {
  font-size: 0.875rem;
  font-weight: 500;
  margin: 5.2rem 0.5rem -6rem;
}

.secondCollage {
  height: 128vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #fff;
  z-index: -1;
}

.imgLeftGroup {
  display: grid;
  gap: 8rem;
}

.imgLeftFirst {
  width: 33rem;
  height: 25rem;
  background-image: url("https://ableton-production.imgix.net/about/photo-3.jpg");
  background-size: cover;
  background-position: center;
  z-index: 999;
}

.imgLeftSecond {
  width: 33rem;
  height: 25rem;
  background-image: url("https://ableton-production.imgix.net/about/photo-4.jpg");
  background-size: cover;
  background-position: center;
  z-index: 999;
}

.secondCollage .imgRight {
  width: 42rem;
  height: 42rem;
  background-image: url("https://ableton-production.imgix.net/about/photo-5.jpg");
  background-size: cover;
  background-position: center;
  z-index: 999;
}

.greenBg {
  position: absolute;
  z-index: 0;
  left: 10rem;
  width: 50%;
  height: 128%;
  background: #b6ffc0;
}

.posterSection {
  background-color: #fff;
  width: 100%;
}

.posterCenter {
  width: 82rem;
  height: 46rem;
  margin: auto;
  background-image: url("https://ableton-production.imgix.net/about/poster-meet-the-makers.jpg");
  background-size: cover;
  background-position: center;
}

.thirdCollage {
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #fff;
  z-index: -1;
}

.thirdCollage .imgLeft {
  width: 33rem;
  height: 25rem;
  background-image: url("https://ableton-production.imgix.net/about/photo-6-a.jpg");
  background-size: cover;
  background-position: center;
  z-index: 999;
}

.thirdCollage .imgRight {
  position: relative;
  right: -8rem;
  width: 42rem;
  height: 42rem;
  background-image: url("https://ableton-production.imgix.net/about/photo-7.jpg");
  background-size: cover;
  background-position: center;
  z-index: 999;
  justify-self: right;
}

.lilacBg {
  position: absolute;
  z-index: 0;
  left: auto;
  width: 50%;
  height: 100%;
  background: #d5b3ff;
}
